<section class="todoapp">
    <header class="header">
        <h1>a simple todo app</h1>
        <form id="new-form">
            <input type="text" class="new-todo" placeholder="What's on your agenda today?" />
        </form>
    </header>

    <section class="main">
        <ul class="todo-list">

        </ul>
    </section>
</section>

<section class="author">
    A
    <%= link_to "todo-mvc", "http://todomvc.com" %>
    application, built by
    <%= link_to "Krystal Raysor", "http://github.com/hello-krystal" %>
</section>